.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.loginForm {
    width: 45%;
    padding: 3rem 4rem;
    border-radius: 1rem;
    /* background-color: var(--secondary-color); */
}
.loginForm h3 {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
    color: var(--primary-color);
}

.loginForm h3 svg {
    position: relative;
    display: inline-block;
    top: 4px;
}

.loginButton button {
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 19px !important;
    cursor: pointer;
}

@media (max-width: 600px) {
    .loginForm {
        width: 100%;
        padding: 0;
    }
}