.storiesContainer {
    padding: 1rem 0;
}
.storiesHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
.title {
    color: var(--primary-color);
}
.storiesHead button {
    position: relative;
}
.storiesHead button svg {
    position: relative;
    display: inline-block;
    top: 4px;
    margin-right: 0.5rem;
}
.stories {
    padding: 2rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    border-bottom: 2px solid var(--secondary-color);
}
.integration .codeBlock > div {
    border-left: 4px solid var(--primary-color);
    padding: 0 !important;
    border-radius: 0 !important;
}

.integration .codeBlock > div > span{
    background: var(--secondary-color) !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.integration .codeBlock code {
    background: var(--secondary-color) !important;
}

.integration .codeBlock button {
    cursor: pointer;
    background: var(--primary-color);
    border: none;
    width: 32px;
    height: 32px;
}
.integration .codeBlock button svg {
    color: white !important;
    width: 20px;
    height: 20px;
}
.integration .codeBlock button svg path {
    fill: currentcolor;
}